*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: aliceblue;
    padding: 15px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.logophoto{
    width: 150px;
}

.menu{
    display: flex;
}

.item{
    margin-right: 35px;
    padding-right: 7px;
    font-size: 25px;
    cursor: pointer;
}

.item:hover{
    color: blue;
}