*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(188, 214, 237);
    padding: 15px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.logophoto{
    width: 150px;
}

.menu{
    display: flex;
}

.item{
    margin-right: 35px;
    padding-right: 7px;
    font-size: 25px;
    cursor: pointer;
}

.item:hover{
    color: blue;
}
.banner-container{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    height: 100vh;
    /* border: 2px solid black; */
    background-image: url(./img/pure-white-background-85a2a7fd.jpg),linear-gradient(45deg,rgb(41, 2, 2),black);

}

.photo{
    width: 600px;

}

.title{
    font-size: 55px;
    font-weight: bold;

}
.description{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn{
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;


}